# Entorno virtual
env/
*.pyc
__pycache__/

# Base de datos local
db.sqlite3

# VSCode
.vscode/

# Node modules (frontend)
frontend/node_modules
frontend/dist

# Archivos del sistema
.DS_Store
Thumbs.db
