@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #2563eb;   /* azul principal */
  --color-secondary: #9333ea; /* morado */
  --color-background: #111827;
  --color-text: #f9fafb;
}

body {
  @apply bg-background text-text;
}
